<div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-signin" ngNativeValidate>
        <div class="text-center mb-4">
          <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
          <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
          <!-- <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p> -->
        </div>
    
        <div class="form-label-group">
          <input type="email" name="email" [(ngModel)]="email" id="inputEmail" class="form-control" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required autofocus>
          <!-- <label for="inputEmail">Email address</label> -->
        </div>
    
        <div class="form-label-group">
          <input type="password" name="password" [(ngModel)]="password" id="inputPassword" class="form-control" placeholder="Password" required autocomplete>
          <!-- <label for="inputPassword">Password</label> -->
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="checkbox mb-3">
            <small> Don't have an account? <a routerLink="/register">Register Now!</a> </small>
          </div>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
      </form>
</div>


 
