<div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-signin" ngNativeValidate>
        <div class="text-center mb-4">
          <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
          <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
          <!-- <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p> -->
        </div>
        
        <div class="form-label-group">
            <input type="text" name="name" [(ngModel)]="name" id="inputName" class="form-control" placeholder="Your name" required autofocus>
            <!-- <label for="inputEmail">Email address</label> -->
          </div>

        <div class="form-label-group">
          <input type="email" name="email" [(ngModel)]="email" id="inputEmail" class="form-control" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required autofocus>
          <!-- <label for="inputEmail">Email address</label> -->
        </div>
    
        <div class="form-label-group">
          <input type="password" name="password" [(ngModel)]="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <!-- <label for="inputPassword">Password</label> -->
        </div>
        
        <div class="form-label-group">
            <input [ngClass]="{'error' : confirmPassword != password, 'noerror' : confirmPassword == password}" type="password" name="password" [(ngModel)]="confirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" required>
            <!-- <label for="inputPassword">Password</label> -->
        </div>

        <div [ngClass]="{'errorText' : confirmPassword != password, 'noerrorText' : confirmPassword == password}"> <small > Password and Confirm Password does not match. </small></div>
        <br>
        <div class="checkbox mb-3">
            <label>
               Gender : 
               
               <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" [(ngModel)]="gender" name="inlineRadioOptions" id="inlineRadio1" value="FEMALE">
                  <label class="form-check-label" for="inlineRadio1">Female</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" [(ngModel)]="gender" name="inlineRadioOptions" id="inlineRadio2" value="MALE">
                  <label class="form-check-label" for="inlineRadio2">Male</label>
                </div>

            </label>
        
        </div>
        <div class="checkbox mb-3">
            <div class="form-group row">
                <label for="example-date-input" class="col-3 col-form-label">Birth Date</label>
                <div class="col-9">
                  <input class="form-control"  type="date" [ngModel]="birthDate" (ngModelChange)="birthDate = $event" value="2011-08-19" id="example-date-input" name="birthDay">
                </div>
              </div>
        </div>
        

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up Now!</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
      </form>
</div>
 
